# ----
# Site

title: バーチャルモーションキャプチャー
url: "https://vmc.info"
baseurl:
google_analytics_key:
google_maps_javascript_api_key:
disqus_shortname:
twitter: 
  username: sh_akira

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: Product marketing template for Jekyll.
author:
  name: sh_akira
  email:
  twitter: sh_akira
social:
  name: sh_akira
  links:
    - https://twitter.com/sh_akira
    - https://github.com/sh-akira
    - https://akira.fanbox.cc/

# -----
# Build

timezone: Asia/Tokyo

collections:
  staff_members:
    _hide_content: true

paginate: 10
paginate_path: "/manual/:num/"
permalink: none

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      _options:
        content:
          width: 1500
          height: 2500
  -
    scope:
      path: ""
    values:
      layout: "page"
  -
    scope:
      path: "index.html"
    values:
      layout: "default"

jekyll-archives:
  enabled:
    - categories

plugins:
  - jekyll-archives
  - jekyll-sitemap
#  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE
  - vendor

# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - RSS

_comments:
  map: Update the map location and display settings.
  latitude: Coordinates for the center marker on the map.
  longitude: Coordinates for the center marker on the map.
  zoom: The zoom level for the map.
  pricing_table: Update the information in the pricing tables.
  highlight: Emphasis the text
  color: The background colour used in the plan name and call to action.
  new_window: Open link in new window
